:root {
  --background-button: rgba(184, 21, 67, 0.85);
  --shadow: 6px 5px 14px #0a0a1f;
  --button-color: rgb(234, 229, 243);
}

body {
  background-color: #000017;
}

.pnotify-content .pnotify-text-with-max-height {
  overflow-y: hidden;
  overscroll-behavior: none;
  padding-bottom: 0.03em;
}
